body{

    background-image: radial-gradient(circle,  rgb(151, 216, 0), green);

    font-family: Arial, Helvetica, sans-serif;

    font-size:1rem;

    margin:0;

    overflow-x: hidden;



}

.content{

    margin-top:120px;

}

a{

    color:  #FFA500;

}

.header {

    z-index: 10;

    position:fixed;

    width:100%;

    top: 0;

    overflow: hidden;

    background-color: darkgreen;

    padding: 20px 5px;

    margin:  auto;

  }

  

  .header a {

    float: left;

    color: black;

    text-align: center;

    padding: 12px;

    margin: 0px 20px 0px 20px;

    text-decoration: none;

    font-size: 38px; 

    line-height: 48px;

    border-radius: 4px;

  }

  

  .header a.logo {

      padding: 0;

      margin-left: 5%;

  }

  

  .header a:hover {

    background-color: #6FC100;

    color: black;

  }

  

  .header a.active {

    background-color: #6FC100;

    color: darkgreen;

  }

  

.header-right {

    float: right;

  }

h1{

    color: #FFA500;

    font-size:6rem;

    text-shadow: 1px 1px 2px black;

    text-align: center;

    margin:auto;

}



h2{

    font-family: arial;

    color:white;

    font-size:5rem;

    text-shadow: 1px 1px 2px black;

    text-align: center;

    margin:auto;

}

h3{

    color:white;

    font-size:3rem;

    text-shadow: 1px 1px 2px black;

    text-align: center;

    margin:auto;

}

h4{

    color:white;

    font-size:2rem;

    text-shadow: 1px 1px 2px black;

    text-align: center;

    margin:auto;

}

h4 a{

    color:lightskyblue;

    font-size:2rem;

    text-shadow: 1px 1px 2px black;

    text-align: center;

    margin:auto;

    text-decoration: none;

}

.portocaliu{

    color:  #FFA500;

}

.flex{

    display:flex;

    flex-wrap: wrap;

}

.f30{

    flex:30%;

    padding:10;

}

.f50{

    flex:47%;

    padding: 10px;



}

.f100{

    flex:100%;

    text-align: center;

}
.upload{
    flex:12%;
    padding: 5px 20px;
}

.varianta{

    background:  #FFA500;

    font-family: arial;

    padding: 5px;

    width: 35%;

    height: 2em;

    margin-top: 1em;

    line-height: 2em;

    color: white;

    font-weight: bold;

    font-size: 10em;

    text-align: center;

    border-radius:0.5em;

    box-shadow: 3px 3px 2px black;   

    user-select: none; 

    border: none;

}

.container{

    display: flex;

    flex-flow: row wrap;

    justify-content: space-around; 

    padding: 0;

    margin: 0;

    list-style: none;  

    

}

.element{

    background: #FFA500;

    font-family: arial;

    padding: 5px;

    width: 35%;

    height: 2em;

    margin-top: 1em;

    line-height: 2em;

    color: white;

    font-weight: bold;

    font-size: 10rem;

    text-align: center;

    border-radius:5rem;

    box-shadow: 3px 3px 3px black;   

    user-select: none; 

}

#meniu{

    font-size: 2.4em;

    padding: 0.4em;

    user-select: none; 

    text-decoration: none;

}

.element:active{

    box-shadow: 3px 3px 3px white;

}

.element a{

    text-decoration: none;

}

#incorect{

    display: none;

    color:white;

    text-shadow: 1px 1px 1px black;

    text-align: center;

    font-size:4em;

}

#site{

    text-align: center;

}

.harta{   

    text-align:center;

    margin: 3% 20% 3% 20%;

    background-color: green;

    border-radius: 1em;

    padding: 15px;

    box-shadow: 3px 3px 3px black;

    user-select: none;  

    

}

.harta:active{

    box-shadow: 3px 3px 3px white;

}

.harta a{

    text-decoration: none;

    font-size: 3em;

    color:lime;

    margin:auto;

}

.startbt{

        text-align: center;

        margin-top: 2vh;

}

.start{       

    min-width:300px;

    text-align:center;

    padding: 40px 10px 40px 10px;

    background-color: #FFA500;

    border-radius: 0.7em;

    box-shadow: 3px 3px 3px #3b2000; 

    user-select: none; 

    font-size: 4rem;

    font-weight:bold;

    border: none;

    text-decoration: none;

    color: white;

    

}

.mic{

    padding:1%;

    margin-left:5%;

}

.verifica{

    max-width:20%;

    padding: 30px 40px 30px 40px;

    user-select: none; 

    margin: auto;

    font-size: 5vw;

    color:white;

    font-weight: bold;

    text-align:center;

    background-color: green;

    border-radius: 0.7em;

    box-shadow: 3px 3px 3px #3b2000; 

    transition: all 1s ease-in-out;

    transform: scale(1);

    margin-bottom:10%;

}

.verifica:active{

    background-color:darkgreen;

    transform: scale(1.2);

    transition: all 1s ease-in-out;

}





.start:active{

    box-shadow: 3px 3px  3px white;

}

.titluAlb{

    color: white;

    font-size:8vw;

}

.nick{

    text-align: center; 

    width:60%;

    margin: auto;



}

.nick input{

    font-size: 8vw;

    text-align: center;

    border-radius:0.3em;

    width:100%;

    margin: 2vh;

    padding:10px 20px 10px 20px;

    

}

.nick input:active{

    font-size: 8vw;

    border-radius:0.3em;

   

}

.mare{

    margin:auto;

    padding: 30px;

    border-radius:20px;

}

#time{

    color: lime;

}

#capture{ 

    background-color: green;

    font-size: 3em;

    padding: 12px;

    margin: 5%;

}

table{

    color:white;

    border-radius:5px;

    width:50%;

    text-align:center;

    font-size:5vw;

    font-weight: 800;

    text-shadow: 2px 2px 2px black;

    margin:auto;

}

.tabel{

    text-align:center;

 }

 .item{

     min-height:700px;

     float:none;

     display:flex;

     align-items: center;

     margin:auto;    

     overflow-x: hidden;

     position:relative;

     padding-bottom:2%;

     font-weight:bold;

     color:white;

     text-shadow: 2px 1px black;

     

 }

 .item:nth-of-type(3){

     padding-top: 0%;

     margin-top: -10%;

     overflow: visible;



 }

 .item h1{

     margin-top: 50px;

     font-size:4em;

 }

 .item p{

     font-size:2em;

 }

 .item .start{

    display:block;

 }

 .oZona{

     flex:0 0 2vw;

     margin: 1% auto;

     text-align:center;

     min-width: 400px;

 }

 .harti{

   display:none;

   flex-wrap: wrap;

   margin-bottom: 20px;

 }

 .block{

     display:block;

     margin: 50px auto;

     text-align:center;

 }

 .block .start{

     padding: 1% 2%;

 }

 #divDescriere{

    float:left;

    padding: 50px 0 0 80px;  

    margin-right:30%;

    margin-bottom:5%;

 }

 #pozaDescriere{

     position:absolute;

     right:-11%;



 }

 #divHowTo{

    float: right;

    padding: 0 8px 0 80px;  

    margin-left:25%;

 }

 #pozaHowTo{

    position:absolute;

    left:-15%;

}

 .poze{

     width:40%;

     border-radius:50%;

     box-shadow: 1px 1px 3px black;

 }



 .under{

    position: relative;

    left: 0px;

    top: 0px;

    z-index: -1;

    width:100%;

    border-radius:1vw;

    object-fit: cover;

    width:350px;

    height:250px;

    box-shadow: 2px 2px 2px black;

 }

 .over{

    position: relative;

    top: -10vw;

    z-index: 1;

    border-radius:50%;

    width:50%;

    margin-bottom: -10vw;

    opacity:0.65;

    object-fit: cover;

    width:180px;

    height:180px;

 }

footer{

    background-image: linear-gradient( to bottom,rgb(51, 145, 1), green);

    display:flex;

    flex-wrap: wrap;

    padding: 10px 10px 0 10px;

}

footer div{

    

    min-width:500px;

    text-align:center;

    margin:auto;

}

footer div p{

    color:white;

    padding: 0 10px;

}



.lime{

    font-size: 130%;

    color:lime;

    margin-bottom:-3%;

}

#demo{

    margin-top:25px;

}

.getLat{

   display:none;

}

.getLong{

    display:none;

}

.oZona h3 a{

    text-decoration:none;

    color:white;

}

.traseu{

    background-image: linear-gradient( rgba(151, 216, 0,0),rgba(41, 170, 2, 0.3));

    padding-bottom:15px;

}

.numeDescarca{

    margin-top: 5%;

    display: flex;

    

}

.numeDescarca h2{

   color: #FFA500;

}

.child{

    margin:0 auto ;

}

.child:first-of-type h3{

    color: #FFA500;

}

.descriere h4{

    text-align: left;

    margin-left: 10%;

}

.whiteText{

    margin:2%;

    text-align:center;

    color:white;

    font-size:3em;

    font-weight:600;

    text-shadow: 1px 1px 2px black;

}

.whiteTextSm{

    text-align:left;

    color:white;

    font-size:2vw;

    font-weight:600;

    text-shadow: 1px 1px 2px black;

}

.stats{

    display: flex;

    margin: auto;

    padding-bottom:50px; 

    align-content: center;

}



.stats > div{

    flex: 1;

    text-align: center;

}

.top10.change {

    opacity: 1;

    margin-top: 0;

    z-index: 1;

    transition: all 1s;

 }

 .top10.change .whiteTextSm{

     margin-left: 15%;

     font-size: calc(20px + 2vw);

 }

.top10{    

    position:relative;

    opacity:0;

    z-index: -1;

    margin-top:-25%;

    transition: all 1s;

}

.adauga{

    display:flex;

    max-width:95%;

    margin:3% auto;

}

.adauga h3{

    color: #FFA500;

}

.delete{

    color:white;

    font-weight:bold;

    font-size:4vw;

    background-color: red;

    padding: 2% 4% 2% 4%;

    text-align: center;

    border-radius: 1em ;

    margin-bottom:4%;

    margin-left:13%;

}

.bt_verde{

    padding: 2% 4% 2% 4%;

    user-select: none; 

    margin: auto;

    font-size: 4vw;

    color:white;

    font-weight: bold;

    text-align:center;

    background-color: green;

    border-radius: 0.7em;

    box-shadow: 3px 3px 3px #3b2000; 

    transition: all 1s ease-in-out;

    transform: scale(1);

    margin-bottom:4%;

}

#pin{

    animation: animate 1s ease-in-out 1;

}

@keyframes animate{

    0%{

        transform: scale(1);

        

    }

    50%{

        transform: scale(1.2);

       

    }

    100%{

        transform: scale(1);

        

    }

}

#play {

    border-radius: 50%;

    z-index: 0;

    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #f37055, #f79533);

    animation: animate 1s ease-in-out 1;

    transition: all 1s ease-in-out;

}

#play:hover{

    user-select: none; 

    transform: rotate(720deg) ;

    transition: all 1s ease-in-out;

}

#mail:hover{

    user-select: none; 

    animation: hover 0.6s ease-in-out;

}

#descarca:hover{

    user-select: none; 

    animation: hover 0.6s ease-in-out;

}

@keyframes hover {

    0%{

        transform: rotate(-360deg) scale(1);

        opacity: 1;

    }

    50%{

        transform: rotate(0deg) scale(3);

        opacity: 1;

    }

    100%{

        opacity: 0.1;

        transform: rotate(360deg) scale(1);

    }

}

#medal:hover, #times:hover, #semnTop10:hover{

        animation: flash 2s ease-in-out 2;

}

.adaugaForm{

    margin:auto;

}

#runMes{

    position:relative;

    text-align:center;

    margin:0 auto;

    opacity: 0;

    animation: runMes 1.5s ease;



}

@keyframes runMes{

    0%{

        font-size: 10vw;

        opacity: 0.8;

    }

    20%{

        font-size: 15vw;

        opacity: 1;

    }

    50%{

        font-size: 10vw;

        

    }

    100%{

        font-size: 1vw;

        opacity: 0;

    }

}

#finishPop{

    

    animation: finishPop 1s ease ;

}

@keyframes finishPop{

    0%{

        background-image: radial-gradient(circle,  rgb(208, 255, 0), green); 

        background-size: 100%;

        background-position:50% 50%;

    }

    50%{

        background-image: radial-gradient(circle,  rgb(208, 255, 0), green); 

        background-size: 350%;

        background-position:50% 50%;

    }

    100%{

        background-image: radial-gradient(circle,  rgb(151, 216, 0), green); 

        background-size: 100%;

        background-position:50% 50%;

    }

}

#runPop{

    animation-delay: 3s;

    animation: runPop 1s ease-in-out;

}

@keyframes runPop{

    0%{

        background-color: green;

        background-image: none;

    }

    50%{

        background-color: yellow;

    }

    100%{

        background-color: green;

        background-image: radial-gradient(circle,  rgb(151, 216, 0), green);

    }

}

@keyframes flash{

     0%{

        transform: scale(1);

     }

     50%{

        transform: scale(1.15);

     }

     100%{

        transform: scale(1);

     }

}

@media only screen and (orientation: landscape) {

    .top10 {

      margin-top:-10%;

    }

    .stats{

        padding-bottom:5%;

    }

  }





